[submodule ".devcontainer"]
	path = .devcontainer
	url = https://github.com/EffectiveRange/devcontainer-defs
[submodule ".vscode"]
	path = .vscode
	url = https://github.com/EffectiveRange/vscode-settings-cpp.git
