# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: CI/CD

on:
  push:
      branches: main
      tags: v*.*.*

  pull_request:
      types:
          - synchronize
          - opened
          - reopened

jobs:
 call_ci:
  uses: EffectiveRange/ci-workflows/.github/workflows/cmake-ci.yaml@v3
  with:
    build-version: '["armhf-bookworm", "amd64-bookworm","armhf-bullseye", "amd64-bullseye"]'